@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar {
  --sb-track-color: #232e33;
  --sb-thumb-color: #22c55e;
  --sb-size: 5px;
}

.scrollbar::-webkit-scrollbar {
  width: var(--sb-size);
}

.ant-modal-mask {
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the transparency as needed */
}

.scrollbar::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 15px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 15px;
}

@supports not selector(::-webkit-scrollbar) {
  .scrollbar {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
